.fist_tab{
    .index_grong{
        display: flex;
        border-bottom: 1px solid #eeee;
        .images{
            flex: 1;
            padding: 20rpx 0;
            text-align: center;
            image{
                width: 90%;
            } 
        }
        .txet{
            flex:2;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
           .goods_name{
               display: -webkit-box;
               -webkit-box-orient: vertical;
                overflow: hidden;
                -webkit-line-clamp:2;
                // padding: 20rpx 0;

           }
           .goods_pric{
               color: var(--themeColor);
               font-weight: 600;
               
           } 
        }
    }
}